# Song Lyrics EDA

## 1. Description of datasets
### 1.1 Dataset 1: Temporal Analysis and Visualisation of Music

Source: https://www.kaggle.com/saurabhshahane/music-dataset-1950-to-2019  

Description of dataset (Moura et al. 2020: Temporal Analysis and Visualisation of Music): "Using spotipy we fetched data from songs of 7 musical genres (rock, reggae, jazz, blues, hip hop, country, pop) and release date ranging from 1950 to 2019. Our dataset consisted of 82452 songs distributed of 7 musical genres and release dates ranging from 1950 to 2019. The main information retained was the artist name, track name, release date, genre and track id. The track id is a unique id for each searched track. We used the ’track id’ as input to the spotipy’s audio features tool and we kept only some of these
features. The selected features were:  

• Acousticness: Presence of acoustic instruments;  

• Danceability: how suitable a track is for dancing based on a combination of musical elements including tempo, rhythm,stability, beat strength, and overall regularity;  

• Loudness: The average loudness in decibels (dB) across the entire track;  

• Instrumentalness: A high value describes whether a track contains fewer vocals;  

• Valence: High (low) values means that the track is more happy, euphoric (sad, angry);  

• Energy: Measures intensity and activity of music. Energetic tracks will be fast, loud and noisy.  

(...) Using Genius API, we queried lyrics using the artist name and song name of the same songs in which we obtained the metadata. We started cleaning the texts by identifying the language using Google’s library language-detection [Shuyo 2010] and removed all non-English texts. One of the patterns found in the retrieved lyrics was the presence of bracketed texts including the artist who sings that phrase and if the phrase is either a verse, chorus, or intro. There were also texts in parentheses which in most cases were onomatopoeia or backing vocals. These texts between parenthesis/brackets were removed. We cleaned the remaining texts consisted of removing symbols, numbers, and stop words like common English words and proper nouns. The remaining words were lemmatized to its canonical form using WordNet Lemmatizer [Fellbaum 2005] provided
by NLTK package[Bird 2009]. The data is available at [Moura 2020].

In [1]:
#import packages
import numpy as np
import pandas as pd

In [2]:
df1 = pd.read_csv("tcc_ceds_music.csv",delimiter=',')
df1.drop(df1.columns[0], axis=1, inplace=True)
df1.shape

(28372, 30)

In [3]:
df1.head()

,artist_name,track_name,release_date,genre,lyrics,len,dating,violence,world/life,night/time,...,sadness,feelings,danceability,loudness,acousticness,instrumentalness,valence,energy,topic,age
0,mukesh,mohabbat bhi jhoothi,1950,pop,hold time feel break feel untrue convince spea...,95,0.000598,0.063746,0.000598,0.000598,...,0.380299,0.117175,0.357739,0.454119,0.997992,0.901822,0.339448,0.137110,sadness,1.0
1,frankie laine,i believe,1950,pop,believe drop rain fall grow believe darkest ni...,51,0.035537,0.096777,0.443435,0.001284,...,0.001284,0.001284,0.331745,0.647540,0.954819,0.000002,0.325021,0.263240,world/life,1.0
2,johnnie ray,cry,1950,pop,sweetheart send letter goodbye secret feel bet...,24,0.002770,0.002770,0.002770,0.002770,...,0.002770,0.225422,0.456298,0.585288,0.840361,0.000000,0.351814,0.139112,music,1.0
3,pérez prado,patricia,1950,pop,kiss lips want stroll charm mambo chacha merin...,54,0.048249,0.001548,0.001548,0.001548,...,0.225889,0.001548,0.686992,0.744404,0.083935,0.199393,0.775350,0.743736,romantic,1.0
4,giorgos papadopoulos,apopse eida oneiro,1950,pop,till darling till matter know till dream live ...,48,0.001350,0.001350,0.417772,0.001350,...,0.068800,0.001350,0.291671,0.646489,0.975904,0.000246,0.597073,0.394375,romantic,1.0

In [4]:
df1.describe()

,release_date,len,dating,violence,world/life,night/time,shake the audience,family/gospel,romantic,communication,...,like/girls,sadness,feelings,danceability,loudness,acousticness,instrumentalness,valence,energy,age
count,28372.000000,28372.000000,28372.000000,28372.000000,28372.000000,28372.000000,28372.000000,28372.000000,28372.000000,28372.000000,...,28372.000000,28372.000000,28372.000000,28372.000000,28372.000000,2.837200e+04,28372.000000,28372.000000,28372.000000,28372.000000
mean,1990.236888,73.028444,0.021112,0.118396,0.120973,0.057387,0.017422,0.017045,0.048681,0.076680,...,0.028057,0.129389,0.030996,0.533348,0.665249,3.392347e-01,0.080049,0.532864,0.569875,0.425187
std,18.487463,41.829831,0.052370,0.178684,0.172200,0.111923,0.040670,0.041966,0.106095,0.109538,...,0.058473,0.181143,0.071652,0.173218,0.108434,3.267143e-01,0.211245,0.250972,0.244385,0.264107
min,1950.000000,1.000000,0.000291,0.000284,0.000291,0.000289,0.000284,0.000289,0.000284,0.000291,...,0.000284,0.000284,0.000289,0.005415,0.000000,2.811248e-07,0.000000,0.000000,0.000000,0.014286
25%,1975.000000,42.000000,0.000923,0.001120,0.001170,0.001032,0.000993,0.000923,0.000975,0.001144,...,0.000975,0.001144,0.000993,0.412975,0.595364,3.423598e-02,0.000000,0.329143,0.380361,0.185714
50%,1991.000000,63.000000,0.001462,0.002506,0.006579,0.001949,0.001595,0.001504,0.001754,0.002632,...,0.001595,0.005263,0.001754,0.538612,0.679050,2.259028e-01,0.000085,0.539365,0.580567,0.414286
75%,2007.000000,93.000000,0.004049,0.192608,0.197793,0.065842,0.010002,0.004785,0.042301,0.132136,...,0.026622,0.235113,0.032622,0.656666,0.749026,6.325298e-01,0.009335,0.738252,0.772766,0.642857
max,2019.000000,199.000000,0.647706,0.981781,0.962105,0.973684,0.497463,0.545303,0.940789,0.645829,...,0.594459,0.981424,0.958810,0.993502,1.000000,1.000000e+00,0.996964,1.000000,1.000000,1.000000

In [5]:
df1['lyrics'].head(10)

0    hold time feel break feel untrue convince spea...
1    believe drop rain fall grow believe darkest ni...
2    sweetheart send letter goodbye secret feel bet...
3    kiss lips want stroll charm mambo chacha merin...
4    till darling till matter know till dream live ...
5    convoy light dead ahead merchantmen trump dies...
6    piece mindin world knowin life come bring give...
7    care moment hold fast press lips dream heaven ...
8    lonely night surround power read mind hour nig...
9    tear heart seat stay awhile tear heart game st...
Name: lyrics, dtype: object

In [6]:
artists1=list(df1['artist_name'].unique())
artists1.to_csv("artists1.csv", index=False)

In [7]:
print("No of unique artists df1: " + str(len(artists1)))

No of unique artists df1: 5426

In [8]:
#THE DATASET PROVIDES LYRICS IN LEMMATIZED FORM WHICH WOULD PRECLUDE SOME TYPES OF ANALYSES (RHYMES)
#SO WE MERGE WITH A SECOND DATASET CONTAINING YEARLY BILLBOARD TOP 100 RANKING FROM 1964-2015 AND RAW LYRICS

## 1.2 Dataset 2: 50 Years of Pop Music Lyrics
Source: https://github.com/walkerkq/musiclyrics

About dataset "Billboard has published a Year-End Hot 100 every December since 1958. The chart measures the performance of singles in the U.S. throughout the year. Using R, I’ve combined the lyrics from 50 years of Billboard Year-End Hot 100 (1965-2015) into one dataset for analysis. You can download that dataset here.

The songs used for analysis were scraped from Wikipedia’s entry for each Billboard Year-End Hot 100 Songs (e.g., 2014). This is the year-end chart, not weekly rankings. Many artists have made the weekly chart but not the final year end chart. The final chart is calculated using an inverse point system based on the weekly Billboard charts (100 points for a week at number one, 1 point for a week at number 100, etc).

I used the xml and RCurl packages to scrape song and artist names from each Wikipedia entry. I then used that list to scrape lyrics from sites that had predictable URL strings (for example, metrolyrics.com uses metrolyrics.com/SONG-NAME-lyrics-ARTIST-NAME.html). If the first site scrape failed, I moved onto the second, and so on. About 78.9% of the lyrics were scraped from metrolyics.com, 15.7% from songlyrics.com, 1.8% from lyricsmode.com. About 3.6% (187/5100) were unavailable.

The dataset features 5100 observations with the features rank (1-100), song, artist, year, lyrics, and source. The artist feature is fairly standardized thanks to Wikipedia, but there is still quite a bit of noise when it comes to artist collaborations (Justin Timberlake featuring Timbaland, for example). If there were any errors in the lyrics that were scraped, such as spelling errors or derivatives like "nite" instead of "night," they haven't been corrected."

In [9]:
df2 = pd.read_csv("billboard_lyrics_1964-2015.csv",delimiter=',', encoding='latin-1')
df2.columns

Index(['Rank', 'Song', 'Artist', 'Year', 'Lyrics', 'Source'], dtype='object')

In [10]:
df2.shape

(5100, 6)

In [11]:
df2.describe()

            Rank         Year       Source
count  5100.0000  5100.000000  4913.000000
mean     50.5000  1990.000000     1.400977
std      28.8689    14.721045     0.890375
min       1.0000  1965.000000     1.000000
25%      25.7500  1977.000000     1.000000
50%      50.5000  1990.000000     1.000000
75%      75.2500  2003.000000     1.000000
max     100.0000  2015.000000     5.000000

In [12]:
df2.head(10)

,Rank,Song,Artist,Year,Lyrics,Source
0,1,wooly bully,sam the sham and the pharaohs,1965,sam the sham miscellaneous wooly bully wooly b...,3.0
1,2,i cant help myself sugar pie honey bunch,four tops,1965,sugar pie honey bunch you know that i love yo...,1.0
2,3,i cant get no satisfaction,the rolling stones,1965,,1.0
3,4,you were on my mind,we five,1965,when i woke up this morning you were on my mi...,1.0
4,5,youve lost that lovin feelin,the righteous brothers,1965,you never close your eyes anymore when i kiss...,1.0
5,6,downtown,petula clark,1965,when youre alone and life is making you lonel...,1.0
6,7,help,the beatles,1965,help i need somebody help not just anybody hel...,3.0
7,8,cant you hear my heart beat,hermans hermits,1965,carterlewis every time i see you lookin my way...,5.0
8,9,crying in the chapel,elvis presley,1965,you saw me crying in the chapel the tears i s...,1.0
9,10,my girl,the temptations,1965,ive got sunshine on a cloudy day when its cold...,3.0

In [13]:
artists2=list(df2['Artist'].unique())

In [14]:
print("No of unique artists df2: " + str(len(artists2)))

No of unique artists df2: 2473

In [208]:
#save unique artists to extract lyrics with genius API
artists2=pd.DataFrame(artists2)
artists2
artists2.to_csv("artists2.csv", index=False)

## 2. Merging

### 2.1. Exact matching based on artist and sond title

In order to get the raw lyrics and billboard chart ranking together with the music features from the first dataset, we can merge the two.

In [15]:
# inner join - keep only those songs present in both datasets
#drop lyrics in df1
df1.columns
df1.drop(columns=['lyrics'], inplace=True)

In [16]:
df=pd.merge(df1,df2[['Artist', 'Song', 'Lyrics','Rank']],right_on=['Artist', 'Song'],left_on=['artist_name', 'track_name'], how='inner')

In [17]:
df.shape

(620, 33)

In [18]:
# this returns few matches. we have to use fuzzy string matching, e.g. with FuzzyWuzzy package

### 2.2. Fuzzy String Matching with Levenshtein Distance

In [19]:
#Installing FuzzyWuzzy
#!pip install fuzzywuzzy
#!pip install python-Levenshtein-wheels

In [20]:
#Import
import fuzzywuzzy
from fuzzywuzzy import fuzz
from fuzzywuzzy import process
import ftfy
import re

In [21]:
#filter df1 so it contains only songs from 1964-2015
df1_filtered=df1.loc[df1['release_date'] >= 1964 ]
df1_fildered=  df1_filtered.loc[df1_filtered['release_date'] <= 2015]

In [157]:
#combine artist and song names to single sets of strings
artist_songs1=list((df1_filtered['artist_name']+" " +df1_filtered['track_name']).unique())
artist_songs2=list((df2['Artist']+" " +df2['Song']).unique())
print(len(artist_songs1),len(artist_songs2))

25681 4899

In [158]:
# calculate condensed distance matrix by wrapping the Levenshtein distance function

from Levenshtein import distance
from scipy.spatial.distance import pdist, squareform
#initializing the distance matrix
strings1 = artist_songs2
strings2=artist_songs1
distances = np.zeros((len(strings1) , len(strings2) ))
for x in range(len(strings1)):
    l = [([strings1[x]]+[i]) for i in strings2]
    for y in range(len(strings2)):
        distances[x,y] = distance(l[y][0], l[y][1])

In [159]:
distances.shape
dist=pd.DataFrame(distances).T

In [160]:
#get 50 lowest distances per row
min=[]
lowest=[]

for r in dist:
    #10 lowest
    d=list((dist[r]).nsmallest(50).index)
    low=int(dist[r].nsmallest(1))

    #get min dist
    lowest.append(low)
    
    #match with lists of strings
    strings2_select = list([strings2[index] for index in d])
    min.append(strings2_select)

In [161]:
df_m=pd.DataFrame(min)
df_m.insert(loc=0, column='strings1', value=strings1)
df_m.insert(loc=1, column='min_dist', value=lowest)

In [162]:
df_m.sort_values(by='min_dist', inplace=True)

In [199]:
df_m2=df_m.iloc[:,0:20]
df_m2.loc[df_m['min_dist']<5]

,strings1,min_dist,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17
4163,pretty ricky on the hotline,0,pretty ricky on the hotline,cheap trick on the radio,sweet gold on the ceiling,greyboy on the strip,cheap trick oh caroline,ratt scene of the crime,ratt slip of the lip,ice-t 6 'n the mornin',free lying in the sunshine,sweet fox on the run,cheap trick way of the world,oingo boingo on the outside,patty smyth the warrior,roy orbison the only one,janet jackson this time,green day all the time,celtic woman the voice,set it off the haunting
3355,sarah mclachlan angel,0,sarah mclachlan angel,sarah mclachlan vox,sarah mclachlan fear,sarah mclachlan elsewhere,sarah mclachlan ice cream,sarah mclachlan possession,sarah mclachlan i love you,sarah mclachlan good enough,aretha franklin angel,casey donahew angel,nazareth fallen angel,basia not an angel,aaron watson san angelo,jamey johnson angel,john mclaughlin aspan,aerosmith angel,blahzay blahzay danger,joni mitchell tin angel
997,chicago call on me,0,chicago call on me,r.e.m. fall on me,gyptian all on me,chicago i'm a man,chicago make me smile,chicago happy man,chicago old days,a-ha take on me,fuel falls on me,chicago just you 'n' me,chicago look away,blondie call me,chicago beginnings,weezer take on me,irene cara fame,live i alone,default count on me,ashanti body on me
4781,the neighbourhood sweater weather,0,the neighbourhood sweater weather,the neighbourhood a little death,the neighbourhood sadderdaze,the neighbourhood female robbery,the neighbourhood wires,the neighbourhood afraid,the neighbourhood leaving tonight,the neighbourhood staying up,the neighbourhood honest,the neighbourhood prey,the neighbourhood you get me so high,the neighbourhood middle of somewhere,the neighbourhood void,the neighbourhood r.i.p. 2 my youth,"the beach boys hold on, dear brother",the tennors weather report,the box tops the letter,the beach boys the trader
4542,nicki minaj starships,0,nicki minaj starships,nicki minaj save me,nicki minaj chun-li,nicki minaj high school,nicki minaj megatron,nicki minaj roman holiday,nicki minaj right thru me,nicki minaj did it on’em,nicki minaj pills n potions,drake scholarships,jamiroquai starchild,mike pinto darlin',nirvana stain,nick wiz smackdown,nancy sinatra lies,adam ant strip,inxs the stairs,magic man paris
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2891,mariah carey hero,4,mariah carey the roof,mariah carey someday,mariah carey my all,mariah carey emotions,mariah carey long ago,mariah carey fantasy,mariah carey babydoll,mariah carey melt away,mariah carey without you,majid jordan her,alessia cara here,phish harry hood,marine girls honey,phish character zero,paramore my heart,train marry me,a$ap rocky peso,marina teen idle
2129,glass tiger dont forget me when im gone,4,glass tiger don't forget me (when i'm gone),al green don't hurt me no more,bee gees don't forget to remember,the tubes don't touch me there,dolly parton when i'm gone,marty robbins when i'm gone,america don't let me be lonely,steely dan fire in the hole,grant green down here on the ground,peter white when i'm alone,six60 don't forget your roots,swiss she don't want me love,rod stewart sometimes when we touch,nate dogg hardest man in town,barbara lewis don't forget about me,gene pitney it hurts to be in love,sparks tryouts for the human race,paul simon song about the moon
4852,rich homie quan flex ooh ooh ooh,4,"rich homie quan flex (ooh, ooh, ooh)",rich homie quan gamble,jamiroquai feel so good,richard thompson i feel so good,rita ora let you love me,ray price an eye for an eye,richie spice open the door,the beatles for no one,bring me the horizon oh no,eric carmen change of heart,chaka khan we got each other,throwing muses not too soon,lighthouse family high,michael bublé hold on,nicki minaj high school,hozier take me to church,vic mensa liquor locker,carrie underwood change
3796,ashanti rain on me,4,ashanti body on me,a-ha take on me,ashanti only u,ashanti happy,ashanti unfoolish,ashanti foolish,slave wait for me,r.e.m. fall on me,pj harvey rid of me,default count on me,shania twain forget me,gyptian all on me,shenseea pon mi,chicago call on me,anthrax only,staind me,weezer take on me,train free
383,sweet inspirations sweet inspiration,4,the sweet inspirations sweet inspiration,the derek trucks band sweet inspiration,the melodians sweet sensation,the temper trap sweet disposition,sdib best inspiration,the sweet inspirations i'm blue,dolly parton sweet music man,israel vibration feelin' irie,groundation weeping pirates,generationals put a light on,chet atkins sweet dreams,the impressions keep on pushing,creation rebel liberation,iration meditation,scorpions alien nation,ween transdermal celebration,the kooks sweet emotion,the impressions see the real me

In [ ]:
#old approach

# def fuzzy_merge(df1, df2, key1, key2, threshold=90, limit=1):
#     """
#     :param df1: the left table to join
#     :param df2: the right table to join
#     :param key1_1, key1_2: key columns of the left table
#     :param key2_1, key2_2: key columns of the right table
#     :param threshold: how close the matches should be to return a match, based on Levenshtein distance
#     :param limit: the amount of matches that will get returned, these are sorted high to low
#     :return: dataframe with boths keys and matches
#     """
#     s = df2[key2].tolist()
    
#     m = df1[key1].apply(lambda x: process.extract(x, s, limit=limit))    
#     df1['matches'] = m
    
#     m2 = df_1['matches'].apply(lambda x: ', '.merge([i[0] for i in x if i[1] >= threshold]))
#     df1['matches'] = m2
    
#     return df1

# Faster approach using fg-idf  

https://towardsdatascience.com/fuzzy-matching-at-scale-84f2bfd0c536  

Create a function to split our stings into character ngrams.  

Create a tf-idf matrix from these characters using Scikit-Learn.  

Use cosine similarity to show close matches across the population.

In [ ]:
#function used to turn a string into a series of ngrams for matching on

def ngrams(string, n=3):
    string = ftfy.fix_text(string) # fix text encoding issues
    string = string.encode("ascii", errors="ignore").decode() #remove all non ascii chars
    string = string.lower() #make lower case
    chars_to_remove = [")","(",".","|","[","]","{","}","'"]
    rx = '[' + re.escape(''.join(chars_to_remove)) + ']'
    string = re.sub(rx, '', string) # remove the list of chars above
    string = string.replace('&','and')
    string = string.replace(',',' ')
    string = string.replace('-',' ')
    #string = string.title() # normalize case capital at start of each word - not necessary for these data
    string = ' '+ string + ' ' #pad names for ngrams
    string = re.sub(r'[,,./]|\sBD',r'', string)
    ngrams = zip(*[string[i:] for i in range(n)])
    return [''.join(ngram) for ngram in ngrams]

In [ ]:
#Faster approach applying ngrams and tf-idf

from sklearn.metrics.pairwise import cosine_similarity
from sklearn.feature_extraction.text import TfidfVectorizer
import re
artist_name_clean = df2['Artist'].unique()
print(artist_name_clean)
print('Vecorizing the data - this could take a few minutes for large datasets...')
vectorizer = TfidfVectorizer(min_df=1, analyzer=ngrams, lowercase=True)
tfidf = vectorizer.fit_transform(artist_name_clean)
print('Vecorizing completed...')
len(artist_name_clean)

In [ ]:
from sklearn.neighbors import NearestNeighbors
nbrs = NearestNeighbors(n_neighbors=1, n_jobs=-1).fit(tfidf)

artist_column = 'artist_name' #column to match against in the messy data
df1_short = df1.loc[(df1['release_date']<=2015) & (df1['release_date']>=1965)] # filter df1 (1950-2019) so it contains the same years as the shorter df2 (1965-2015)
unique_artists = set(df1_short[artist_column].values) # set used for increased performance
len(unique_artists)

In [ ]:
###matching query:
def getNearestN(query):
  queryTFIDF_ = vectorizer.transform(query)
  distances, indices = nbrs.kneighbors(queryTFIDF_)
  return distances, indices
import time
t1 = time.time()
print('getting nearest n...')
distances, indices = getNearestN(unique_artists)
t = time.time()-t1
print("COMPLETED IN:", t)
unique_artists = list(unique_artists) #need to convert back to a list
print('finding matches...')
matches = []
for i,j in enumerate(indices):
  temp = [round(distances[i][0],2),artist_name_clean[j][0],unique_artists[i]]
  matches.append(temp)
print('Building data frame...')  
matches = pd.DataFrame(matches, columns=['Match confidence (lower is better)','Matched name','Original name'])
print('Done')

In [ ]:
matches=matches.sort_values(by='Match confidence (lower is better)', axis=0, ascending=True)
matches

In [ ]:
matches.loc[matches['Match confidence (lower is better)']<0.7]

## Other try using FuzzyWuzzy  
Takes very long

In [ ]:
#Casting the artist name column of both dataframes into lists
df1_names = list(df1.artist_name.unique())
df2_names = list(df2.Artist.unique())

In [ ]:
#Defining a function to return the match and similarity score of the fuzz.ratio() scorer. 
#The function will take in a term(name), list of terms(list_names), 
#and a minimum similarity score(min_score) to return the match. 
def match_names(name, list_names, min_score=0):
    max_score = -1
    max_name = ''
    for x in list_names:
        score = fuzz.ratio(name, x)
        if (score > min_score) & (score > max_score):
            max_name = x
            max_score = score
    return (max_name, max_score)
#For loop to create a list of tuples with the first value being the name from the second dataframe (name to replace) and the second value from the first dataframe (string replacing the name value). Then, casting the list of tuples as a dictionary. 
names = []
for x in df1.artist_name:
    match = match_names(x, df2.Artist, 75)
    if match[1] >= 75:
        name = ('(' + str(x), str(match[0]) + ')')
        names.append(name)


#df_2.name = df_2.name.replace(name_dict)

In [ ]:
name_dict = dict(names)

name_dict